#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 3em 2em;
  text-align: center;
  background-color: rgba(20, 20, 20, 0);
  border-radius: 30px;
  border: solid rgb(29, 73, 218) 5px;
  box-shadow: rgba(0, 0, 0, 0.418) 10px 8px 30px;
}
/* 
#root::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 5px;
  border-radius: 30px;
  background: linear-gradient(
    270deg,
    #ff004c,
    #ff8a00,
    #ffee00,
    #00ff9d,
    #00c3ff,
    #7a00ff,
    #ff004c
  );

  animation: borderMove 6s linear infinite;
  z-index: -1;

  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

@keyframes borderMove {
  0%   { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
} */

.logo{
  width: 30px;
  padding: 0 10px;
}
.logo.google, .auth{
  width: 50px;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}